.imageContainer {
    width: 400px;
    height: 500px;
    position: relative;
    ul {
        height: 500px;
        list-style-type: none;
        
         li:nth-child(1){
            position: absolute;
            top: 10px;
            left: 0px;
            will-change: transform;
            filter: blur(2px);
            animation: float 5s ease-in-out infinite;
            img {
                z-index: 1;
                width: 85px;
            }
         }
         li:nth-child(2){
            position: absolute;
            top: 50px;
            right: 0px;
            will-change: transform;
            filter: blur(2px);
            animation: float 5s ease-in-out infinite;
            img {
                z-index: 1;
                width: 85px;
            }
         }
         li:nth-child(3){
            position: absolute;
            top: 240px;
            left: 50px;
            filter: blur(2px);
            will-change: transform;
            animation: float 5s ease-in-out infinite;
            img {
                z-index: 4;
                width: 100px;
            }
         }
         li:nth-child(4){
            position: absolute;
            top:150px;
            left: 100px;
            filter: blur(0.8px);
            will-change: transform;
            animation: float 6s ease-in-out infinite;
            img {
                z-index: 2;
                width: 150px;
            }
         }
         li:nth-child(5){
            position: absolute;
            top:20px;
            left: 100px;
            filter: blur(0.8px);
            will-change: transform;
            animation: float 6s ease-in-out infinite;
            img {
                z-index: 2;
                width: 150px;
            }
         }
         li:nth-child(6){
            position: absolute;
            bottom: 50px;
            left: 20px;
            filter: blur(0.8px);
            will-change: transform;
            animation: float 6s ease-in-out infinite;
            img {
                z-index: 2;
                width: 150px;
            }
         }
         li:nth-child(7){
            position: absolute;
            bottom: 20px;
            right: 10px;
            will-change: transform;
            animation: float 7s ease-in-out infinite;
            img {
                z-index: 2;
                width: 200px;
            }
         }
         li:nth-child(8){
            position: absolute;
            bottom: 250px;
            right: 0px;
            will-change: transform;
            animation: float 8s ease-in-out infinite;
            img {
                z-index: 3;
                width: 200px;
            }
         } 
         li:nth-child(9){
            position: absolute;
            bottom: 250px;
            right: 0px;
            will-change: transform;
            animation: float 8s ease-in-out infinite;
            img {
                z-index: 3;
                width: 200px;
            }
         } 
         li:nth-child(10){
            position: absolute;
            bottom: 250px;
            right: 0px;
            will-change: transform;
            animation: float 8s ease-in-out infinite;
            img {
                z-index: 3;
                width: 200px;
            }
         } 
        // li:nth-child(9){
        //     position: absolute;
        //     top: 240px;
        //     left: 50px;
        //     will-change: transform;
        //     animation: float 6s ease-in-out infinite;
        //     img {
        //         z-index: 4;
        //         width: 100px;
        //     }
        //  }
        //  li:nth-child(10){
        //     position: absolute;
        //     top: 240px;
        //     left: 50px;
        //     will-change: transform;
        //     animation: float 6s ease-in-out infinite;
        //     img {
        //         z-index: 4;
        //         width: 100px;
        //     }
        //  }
        //  li:nth-child(11){
        //     position: absolute;
        //     top: 240px;
        //     left: 50px;
        //     will-change: transform;
        //     animation: float 6s ease-in-out infinite;
        //     img {
        //         z-index: 4;
        //         width: 100px;
        //     }
        //  }li:nth-child(12){
        //     position: absolute;
        //     top: 240px;
        //     left: 50px;
        //     will-change: transform;
        //     animation: float 6s ease-in-out infinite;
        //     img {
        //         z-index: 4;
        //         width: 100px;
        //     }
        //  }

    }
    
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}


// 3 level image 
// firsl level size width: 8px
// transition 2s
// and blur